.vscode
vscode
./vscode
/vscode

.idea
/idea
idea 
./idea

portfolio
.portfolio
/portfolio
./portfolio

portfolio.bsdesign
./portfolio.bsdesign
/portfolio.bsdesign
/.portfolio.bsdesign

*bsdesign
.*bsdesign
/.*bsdesign
./*bsdesign

.idea
idea
/.idea
./idea
*idea
.*idea
idea*
/idea
./idea
./.idea