.content {
    display: flex;
    justify-content: center;
    text-align: center;
    border: black solid 1px;
    font-family: "Segoe UI Light", "Segoe MDL2 Assets", sans-serif;
    font-size: 24px;
    padding: 10px;
    bottom: 20px;
    text-decoration: none;
    color: black !important;
    cursor: pointer;
    pointer-events: none;
}
