.body {
    font-family: "HK Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    background: url('../media/background.png') no-repeat 0px 0px;
    color: white;
}

.head {
    width: 1920px;
    height: 1px;
}

.header {
    width: fit-content;
    margin: auto;
    margin-top: 29%;
}

.logo {
    border-radius: 100px;
    margin-bottom: 10% !important;
    animation: ease-in-out forwards 0.3s smaller ;
}

.logo:hover {
    cursor: pointer;
    animation: ease-in-out forwards 0.2s bigger;
}

.nav-menu {
    width: fit-content;
}

.nickname {
    margin-left: 10px !important;
    font-family: "HK Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 64px;
    font-weight: bolder;
    animation: 0.5s ease-in-out forwards glow-white-out;
}

.nickname:hover {
    cursor: pointer;
    animation: 0.5s ease-in-out forwards glow-white;
}

@keyframes glow-white {
    0% {

    }
    100% {
        text-shadow: 0px 0px 10px #fff;
    }
}

@keyframes glow-white-out {
    0% {
        text-shadow: 0px 0px 10px #fff;
    }
    100% {

    }
}

.github {
    filter: invert(100%) sepia(1%) saturate(7471%) hue-rotate(265deg) brightness(108%) contrast(115%);
}

.icon {
    width: 32px;
    margin-left: 10px;
    height: 32px;
    animation: ease forwards 0.2s smaller;
}

.icon-size {
    width: 32px;
    height: 32px;
}

.icon:hover {
    animation: ease-in-out forwards 0.2s bigger;
    transition: 1s;
}

@keyframes bigger {
    0% {

    }
    100% {
        transform: scale(115%);
    }
}

@keyframes smaller {
    0% {
        transform: scale(115%);
    }
    100% {
        transform: scale(100%);
    }
}

.tanuki-logo {
    width: 32px;
    height: 32px;
}